.jumbotron {
	background-color: #000FFF;
	color: white;
	border-radius: 0px;
	margin-top: 50px;
}

footer {
	padding: 10px 10px 0px 10px;
	background-color: #000FFF;
	color: white;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-compu {
	flex: 1 200px;
	margin-top: 10px;
}

.card-footer {
	padding: 0px;
}

.btn-compra {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
 	padding-right: 10px;
 }

 .tab-content {
 	padding-top: 10px;
 }