.jumbotron {
  border-radius: 0px;
  background-color: #fcba03;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0px 10px;
  background-color: #fcba03;
  color: black;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-compu {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-footer {
  padding: 0px; }

.btn-compra {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
