$amarillo: #fcba03;
$rojo: #fc0303;
$verde: #00ff0d;
$azul: #000FFF;

$fondo: $amarillo;
$texto: black;

@mixin margenes($top, $bottom) {
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin estilo($bg-color, $txt-color) {
	background-color: $bg-color;
	color: $txt-color;
}

.jumbotron {
	border-radius: 0px;

	@include estilo($fondo, $texto);
	@include margenes(50px, 0px);
}

footer {
	padding: 10px 10px 0px 10px;
	
	@include estilo($fondo, $texto);
	@include margenes(10px, 0px);
}

.card-compu {
	flex: 1 200px;

	@include margenes(10px, 0px);
}

.card-footer {
	padding: 0px;
}

.btn-compra {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
 	padding-right: 10px;
 }

 .tab-content {
 	padding-top: 10px;
 }